#quiz-buttons {
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}