body {
    background-color: #420069;
}

#top {
    position: absolute;
    top: 0px;
    height: 45px;
    width: 100%;
    left: 0px;
    background-color: #b00b55;
}

#title {
    text-align: center;
}